
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');


header{
    min-height: 5vh;
}

body{
    background-color: black;
}

h1{
    font-family:'Tomorrow', 'Lucida Sans Unicode', sans-serif;  
    color: rgb(29, 219, 102);
    font-size: 2.5em;      
}

.main{
    display: flex;
    flex-direction: column;
    background-color: black;
    max-width: 40vw;
    min-width: 200px;
    min-height: 35vh;
    margin: auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #017744;
    box-shadow: 0px 0px 20px 10px rgba(18, 250, 115, 0.158);
}

.flex-button{
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    align-items: center;
    justify-content: center;  
}

.botao{
    background-color: black;
    border-radius: 5px; 
    font-family: 'Orbitron', 'Lucida Sans Unicode', sans-serif;
    color: rgb(29, 219, 102);
    margin: 5px;
    padding: 8px;
    line-height: 1.4em;
    border: 2px solid #017744;
    box-shadow: 0px 0px 10px 2px rgba(2, 211, 82, 0.18);
}

.botao:hover{
    box-shadow: 0px 0px 10px 8px rgba(2, 211, 82, 0.18);
}

.botao:focus{
    box-shadow: 0px 0px 10px 8px rgba(2, 211, 82, 0.18);
    border: 2px solid #1bfd9c;
}

.botao:active{
    box-shadow: 0px 0px 20px 10px rgba(2, 211, 82, 0.18);   
}

.copy{
    font-family: 'Orbitron', 'Lucida Sans Unicode', sans-serif;
    font-size: 0.8em;
    color: rgb(18, 155, 70); 
    text-align: center;
    padding-top: 30px;
    min-height: 5vh;   
}

.copy a{
    font-family: 'Orbitron', 'Lucida Sans Unicode', sans-serif;
    color: rgb(18, 155, 70);   
    text-decoration: none;
}

.copy a:hover{
    color: #1bfd9c;
}